.fadein {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in;
  -webkit-transition--moz-transition: opacity 1.5s ease-in;
  -webkit-transition--moz-transition--ms-transition: opacity 1.5s ease-in;
  -webkit-transition--moz-transition--ms-transition--o-transition: opacity 1.5s ease-in;
  -webkit-transition--moz-transition--ms-transition--o-transition-transition: opacity 1.5s ease-in;
}

.fadein-second {
  opacity: 0;
  -webkit-transition: opacity 4s ease-in;
  -webkit-transition--moz-transition: opacity 4s ease-in;
  -webkit-transition--moz-transition--ms-transition: opacity 4s ease-in;
  -webkit-transition--moz-transition--ms-transition--o-transition: opacity 4s ease-in;
  -webkit-transition--moz-transition--ms-transition--o-transition-transition: opacity 4s ease-in;
}

.load {
  opacity: 1;
}

body {
  background-color: #000;
  color: #fff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: futura, sans-serif;
  font-weight: 400;
  font-style: italic;
  opacity: 0.9;
}

h4 {
  font-size: 36px;
}

p {
  font-family: raleway, arial, sans-serif;
  line-height: 1.6;
  width: 50%;
  text-align: justify;
  opacity: 0.85;
}
@media screen and (max-width: 768px) {
  p {
    width: 55%;
  }
}

ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.return-home {
  margin-bottom: 5%;
}
.return-home h6 {
  font-family: raleway, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.return-home a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.return-home a :hover {
  border-bottom: 1px solid #fff;
  transition: 0.5s;
}

.nav-bar {
  background-color: #fff;
  padding: 0.5% 0;
}

nav ul li {
  font-family: raleway, arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 0 15px;
}
nav ul li a {
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
}

header .row {
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  header .row {
    flex-direction: column;
  }
}

.title-box {
  width: 50%;
  padding: 4% 0;
}
@media screen and (max-width: 600px) {
  .title-box {
    width: 85%;
  }
}

.cfat-title {
  display: flex;
  justify-content: flex-end;
  font-size: 42px;
  text-align: right;
  padding-right: 4%;
}
@media screen and (max-width: 950px) {
  .cfat-title {
    font-size: 38px;
    font-size-padding-right: 6%;
  }
}
@media screen and (max-width: 768px) {
  .cfat-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  .cfat-title {
    padding-right: 15%;
  }
}
.cfat-title #forthieth {
  font-size: 140%;
}

.exhibit-title {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  color: #000;
  font-size: 42px;
  padding-left: 4%;
}
@media screen and (max-width: 950px) {
  .exhibit-title {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  .exhibit-title {
    font-size: 34px;
  }
}
@media screen and (max-width: 600px) {
  .exhibit-title {
    padding-left: 15%;
  }
}

.section-line {
  border-top: 2px solid #fff;
  width: 200px;
  margin-top: 8%;
  margin-bottom: 3%;
}

.curator-text #quote {
  width: 40%;
  margin: 2% 30%;
  font-style: italic;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .curator-text #quote {
    width: 45%;
    margin: 2% 27.5%;
  }
}

.exhibition .exhibit-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}
@media screen and (max-width: 950px) {
  .exhibition .exhibit-row {
    flex-direction: column;
  }
}
.exhibition h5 .artist-name {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exhibition .box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 500px;
  height: 315px;
  margin: 2%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 950px) {
  .exhibition .box {
    width: 68%;
    height: auto;
    margin: 2% 16%;
  }
}
.exhibition img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.exhibition .photo-active img {
  transform: scale(1.08);
  transition: 0.5s;
}

.special-thanks p {
  text-align: center;
}

.logos .row {
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .logos .row {
    flex-direction: column;
  }
}
.logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .logos ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: -2%;
  }
}
.logos ul img {
  transform: scale(0.8);
}
@media screen and (max-width: 768px) {
  .logos ul img {
    transform: scale(0.7);
  }
}

h3 {
  font-size: 65px;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
}

.artist-hero #artwork-info {
  font-family: futura, sans-serif;
  text-align: center;
  font-weight: 300;
  margin: 4% 0 -2% 0;
  font-size: 14px;
}

/* Slideshow container */
.artwork-container .row {
  flex-direction: row;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 85%;
}

/* Next & previous buttons */
.prev, .next {
  display: inline-block;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 0 2%;
  transition: 0.6s ease;
}

.prev:hover, .next:hover {
  color: grey;
}

/*# sourceMappingURL=style.css.map */
